*.sw[op]
*~
*.png
*.pdf
*.docx
*.xlsx
*.Rdata
*.html
*.gz
*.csv
*-rewired-*.txt
*/*/dblp-data/*
*.mat
*.bin
*.weights
*.tree
*.Q
*.prod
t_*
analyse-publications/MTMT/
analyse-publications/dblp/
analyse-publications/cache/
analyse-publications/Rcode*
analyse-publications/pli-R*
